<!DOCTYPE html>
<html>
  <head>
    <title>Alex Afeltra</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon-code.ico' %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,800" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <ul>
      <li>
        <a href="#" class="cust-nav"><span>Home</span><i class="fa fa-home"></i></a>
      </li>
      <li>
        <a href="#portfolio" class="cust-nav"><span>Projects</span><i class="fa fa-file-code-o"></i></a>
      </li>
      <li>
        <a href="#contact" class="cust-nav"><span>Contact</span><i class="fa fa-envelope"></i></a>
      </li>
	  </ul>

	  <div class="container flash-container">
      <% flash.each do |type, msg| %>
        <%= content_tag :div, msg, class: "alert alert-#{type}" %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
